:root {
    --border-color: #c7c7c7;
    --main-bg-color: #edeae6;
    --primary-color: #8b5b37;
    --bg-primary: #8b5b37;
  }
  
  .btn-primary {
    --bs-btn-bg: #8b5b37;
    --bs-btn-border-color: #8b5b37;
  }
  html,
  body,
 
  
  .login {
    background: linear-gradient(
        to right,
        rgba(153, 118, 82, 0.9),
        rgba(153, 118, 82, 0.9)
      ),
      url(../images/mortierphotographie-mariage-deco-CPH-photo-71.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .register {
    width: 45rem !important;
  }
  
  .login__card {
    border: 0;
    box-shadow: 0 0 15px rgb(51 51 51 / 30%);
    padding: 0;
    width: 22rem;
    background-color: var(--main-bg-color);
    border-radius: 0;
  }
  
  .login__card-label {
    color: #5d5d5d;
    font-weight: 600;
    margin-bottom: 0.2rem;
  }
  
  .input-group {
    border-bottom: solid 2px var(--border-color);
    margin-bottom: 1.2rem;
    transition: border 150ms ease-in;
  }
  
  .input-group:focus-within {
    border-color: var(--primary-color);
  }
  
  .input-group:focus-within .input-group-text {
    background-color: var(--primary-color);
    color: #fff;
  }
  
  .input-group > * {
    transition: background 150ms ease-in, color 150ms ease-in;
    border: 0;
    border-radius: 0;
  }
  
  .input-group-text {
    background: none;
    padding: 5px 0.6rem;
    font-size: 1.2rem;
    color: #7b7b7b;
  }
  
  .form-control {
    box-shadow: none !important;
    padding: 0.4rem 0 0.4rem 0.8rem;
    background-color: var(--main-bg-color);
  }
  
  p {
    line-height: 1.2;
  }
  
  .btn-primary {
    box-shadow: 0 4px 7px rgb(51 51 51 / 30%);
  }
  
  .btn {
    border-radius: 0;
  }
  
  .file-input {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border-radius: 25px !important;
    color: #8f8f8f;
    border: solid 1px var(--border-color);
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    transition: background 150ms ease-in, color 150ms ease-in;
  }
  .file-input:hover {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
  
  .progress-bar {
    list-style: none;
    margin-bottom: 1.5rem;
    font-size: 13px;
    font-weight: 700;
    counter-reset: container 0;
  }
  .progress-bar li {
    position: relative;
    margin-left: 40px;
    margin-top: 50px;
    counter-increment: container 1;
    color: #d09a74;
  }
  .progress-bar li::before {
    content: counter(container);
    line-height: 25px;
    text-align: center;
    position: absolute;
    height: 25px;
    width: 25px;
    border: 1px solid #d09a74;
    border-radius: 50%;
    left: -40px;
    top: -5px;
    z-index: 10;
    background-color: #304767;
  }
  
  .progress-bar li::after {
    content: "";
    position: absolute;
    height: 40px;
    width: 2px;
    background-color: #4f6581;
    z-index: 1;
    left: -27px;
    top: -70px;
  }
  
  .progress-bar li.active::after {
    background-color: #fff;
  }
  
  .progress-bar li:first-child:after {
    display: none;
  }
  
  .progress-bar li.active::before {
    color: #fff;
    border: 1px solid #fff;
  }
  .progress-bar li.active {
    color: #fff;
  }
  